:host {
  display: block;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1673794784636-2e69436d3eee?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGFpc2FqZSUyMG5vY3R1cm5vfGVufDB8fDB8fHww');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}